body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
}

/* Estilo para a página HOME */
.imgFundo {
    min-height: 100vh;
    width: 100%;
    background-image: url(./imgs_02/hogwarts.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Opcional: faz o fundo ficar parado ao fazer scroll */
    background-repeat: no-repeat;
}

/* Estilo para a página QUIZ */
.hall {
    min-height: 100vh;
    width: 100%;
    background-image: url(./imgs_02/greatHall.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.quiz-container {
    max-width: 700px;
    margin-top: 150px;
}

.GryffindorRoom {
    background-image: url(./imgs_02/gryffindor-common-room.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.SlytherinRoom {
    background-image: url(./imgs_02/slytherin-common-room.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.HufflepuffRoom {
    background-image: url(./imgs_02/hufflepuff-common-room.avif) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.RavenclawRoom {
    background-image: url(./imgs_02/ravenclaw-common-room.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.potions-bg {
    background-image: url(./imgs_02/ClassPotions.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.headingPotions {
    max-width: 600px;
}