name: Deploy React App to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: './projeto_CP_2/package-lock.json'

      - name: Install Dependencies
        run: npm ci
        working-directory: ./projeto_CP_2

      - name: Build
        run: npm run build
        working-directory: ./projeto_CP_2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # This points to the folder created by 'npm run build'
          # If you use Vite, this is usually 'dist'. If using Create-React-App, change to 'build'
          path: ./projeto_CP_2/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
